html{
	min-height: 100%;
	width: 100%;
	body{
		width: 100%;
		min-height: 100%;
		font-family: 'Source Sans Pro', sans-serif;
		background-image: url('../assets/images/overlay.png'), url('../assets/images/bg.jpg');
		background-repeat: repeat, no-repeat;
		background-size: auto, 100% 100%;
		
		.container {
			width: 100%;
			padding: 0 15px;
			margin-top: 10%;
			margin-bottom: 10%;
			@media screen and (min-width: 1001px){
				width: 900px;
				display: block;
				margin: 10% auto;
				display: flex;
				flex-wrap: wrap;
			}

			input[type="radio"], input[type="checkbox"]{
				display: none;
			}
		}
	}
}
