//** Number of columns in the grid.
$grid-columns:  12 !default;

$base-color-black			: #000000;
$base-color-border			: #DDDDDD;
$base-color-white			: #FFFFFF;
$base-color-lighgray		: #F5F5F5;
$base-color-darkgray		: #676767;

$base-color-light-text		: #AAAAAA;
$base-color-dark-text		: #363636;

$base-color-twitter			: #2BC3FF;
$base-color-bege			: #BEBAAB;